{% extends "base.html" %}

{% block seo %}
{{ super() }}

{% if config.title %}
{% set title = config.title %}
{% else %}
{% set title = "" %}
{% endif %}

{% if config.extra.title_addition and title %}
{% set title_addition = title_separator ~ config.extra.title_addition %}
{% elif config.extra.title_addition %}
{% set title_addition = config.extra.title_addition %}
{% else %}
{% set title_addition = "" %}
{% endif %}

{% set description = config.description %}

{{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block header %}
{{ macros_header::header()}}
{% endblock header %}

{% block content %}
<div class="container">
  <div class="px-7 my-5 text-center">
    <h1 class="display-3 fw-bold">{{ section.title | default(value="Centered screenshot") }}</h1>
    <div class="col-lg-10 mx-auto">
      <p class="lead mb-4">{{ section.extra.lead | default(value="Please start setting config.toml and adding your
        content.") | safe }}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a class="btn btn-primary btn-lg px-4 me-sm-3"
          href="{{ section.extra.primary_url | default(value="/") | safe }}">
          {{ section.extra.primary_button | default(value="Primary Button") }}
        </a>
        <a class="btn btn-outline-secondary btn-lg px-4"
          href="{{ section.extra.secondary_url | default(value=" /") | safe }}">
          {{ section.extra.secondary_button | default(value="Secondary Button") }}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <img class="img-fluid" src="{{ get_url(path="images/screenshot.png") | safe }}" />
</div>

<main>
  <div class="container">
    {{ section.content | safe }}
  </div>
</main>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      {% if section.extra.list %}
      {% for val in section.extra.list %}
      <div class="col-lg-5">
        <h2 class="h4">{{ val.title }}</h2>
        <p>{{ val.content | safe }}</p>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>

<!-- <section class="section section-sm">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col">
        <h1>Keep exploring...</h1>
        <p>Cloud development environments help everyone go faster. We’re sure there’s an Amphitheatre solution for your
          team.</p>
      </div>
      <div class="col">
        <div class="card h-100 rounded-3 shadow-sm">
          <div class="card-body">
            <h2 class="card-title">Open Source</h2>
            <p class="card-text">Use the pieces of Amphitheatre that are right for you</p>
            <a class="card-link">Github</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-3 shadow-sm bg-info">
          <div class="card-body">
            <h2 class="card-title">Cloud</h2>
            <p class="card-text">Our hosted solution for individuals and teams</p>
            <a class="card-link">Try free</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 rounded-3 shadow-sm text-bg-dark">
          <div class="card-body">
            <h2 class="card-title">Self-hosted</h2>
            <p class="card-title">Run Amphitheatre on your own infrastructure</p>
            <a class="card-link">Get a demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
{% endblock content %}
